[submodule "libs/third_party/lua"]
	path = libs/third_party/lua
	url = https://github.com/lua/lua
[submodule "libs/third_party/wolfssl"]
	path = libs/third_party/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
